black
DateTime
HTML4Vision
h5py
imagecorruptions
imgaug
iopath
isort
matplotlib
mmsegmentation
mmcv==2.2.0 -f https://download.openmmlab.com/mmcv/dist/cu118/torch2.0/index.html
natsort
numpy==1.23.1
opencv-python
pillow
plyfile
tensorboard
tensorboardX
timm
xformers==0.0.21
